##  <center>Load CSV Files</center>

In [1]:
# Import information about sales invoices
import pandas as pd
csv_files = ['./data/csv_files/2014.csv','./data/csv_files/2015.csv',
         './data/csv_files/2016.csv','./data/csv_files/2017.csv', './data/csv_files/2018.csv',
         './data/csv_files/2019.csv','./data/csv_files/2020.csv','./data/csv_files/2021.csv',
        './data/csv_files/2022.csv','./data/csv_files/2023.csv','./data/csv_files/2024.csv']

dataframes = [pd.read_csv(file_path) for file_path in csv_files]

dataframes

sales_data = pd.concat(dataframes, ignore_index=True)

sales_data 

sales_data.to_csv('data/csv_files/sales_data.csv', index = False)

sales_data

,Date,Inv,Est,Order,Client,Descrip,Esp,Larg,Comp,Piece_price,KG_price,Quantity,Total
0,01-04-2014,137826,11,178776-10,FLANTECH,"CHAPA GR LTQ 9,00 SAE1010","9,0000","1.200,0000","2.000,0000","0,00","2,74","7.613,00","20.859,62"
1,01-04-2014,33436,14,178669-10,GPANIZ,"FLANGE OXICORTADO LCG 12,50 NBR 8300","12,5000","90,0000","420,0000","73,01","5,63","778,00","4.652,13"
2,01-04-2014,33437,14,160513-10,GPANIZ,"FLANGE OXICORTADO LCG 9,50 NBR 8300","9,5000","90,0000","360,0000","40,00","5,97","335,00","2.123,63"
3,01-04-2014,450,41,179283-20,MAQENGE,"TIRA FF BOB 0,60 SAE1006 OL","0,6000","213,0000","0,0000","0,00","3,28","2.750,00","9.471,00"
4,01-04-2014,137777,11,175050-10,BORTOLOTTO,"TIRA ZC BOB 0,80 NBR7008 ZC CR NO REV","0,8000","346,0000","0,0000","0,00","3,94","502,00","2.076,77"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10329,31-07-2024,349225,11,376387-10,OMPDOBRASI,"CHAPA ZC 1,95 NBR7008 ZC CR MI RV Z100","1,9500","1.200,0000","3.000,0000","0,00","7,45","1.507,00","11.592,03"
10330,31-07-2024,349225,11,376387-20,OMPDOBRASI,"CHAPA ZC 1,95 NBR7008 ZC CR MI RV Z100","1,9500","1.200,0000","3.000,0000","0,00","7,45","1.628,00","12.522,78"
10331,31-10-2024,354912,11,374971-50,FLANTECH,"TIRA ZC BOB 1,25 NBR7008 ZC CR MI REV","1,2500","23,5000","0,0000","0,00","9,30","3.978,00","38.197,75"
10332,31-10-2024,354913,11,381670-10,MOFERKO,"CHAPA GR LTQ 6,30 NBR6656 LNE 38","6,3000","1.200,0000","3.000,0000","0,00","6,90","4.067,00","28.974,32"
10333,31-10-2024,354850,11,381554-20,HIDROJET,"CHAPA GR LTQ 9,50 SAE1010","9,5000","1.000,0000","2.630,0000","0,00","6,09","4.715,00","29.647,57"