##  <center>Products Treatment</center>

The idea here is to combine all the information about products description of sales_data.csv and products.csv in order to get categorized information about products.

In [1]:
# Import libraries and modules
import pandas as pd
import numpy as np

In [2]:
# Import information about products 
products = pd.read_csv('./data/csv_files/products.csv')

In [18]:
products

                             Descrip Product Type Commission Product Family
0       BLANK CL FF OL 0,75 NBR 6658         BKFF         2%          BLANK
1       BLANK CL FF OL 0,90 NBR 6658         BKFF         2%          BLANK
2       BLANK CL FF OL 1,20 NBR 6658         BKFF         2%          BLANK
3       BLANK CL FF OL 1,50 NBR 6658         BKFF         2%          BLANK
4       BLANK CL FF OL 1,90 NBR 6658         BKFF         2%          BLANK
...                              ...          ...        ...            ...
2785  TR REL 5,50 NBR5007 G2L40 BbOL     TIRA REL         2%     RELAMINADO
2786  TR REL 5,50 NBR5007 G3L40 BbOL     TIRA REL         2%     RELAMINADO
2787  TR REL 5,60 NBR5007 G2L40 BbOL     TIRA REL         2%     RELAMINADO
2788  TR REL 5,60 NBR5007 G2L40 BbOL     TIRA REL         2%     RELAMINADO
2789   TUBO FQ QUADRADO 1,50 SAE1006    TUBO QUAD         2%           TUBO

[2790 rows x 4 columns]

In [17]:
products.rename(columns={'Família Produto': 'Product Family', 'Descrição': 'Descrip', 'Tipo de Produto': 'Product Type', 'Comission': 'Commission'}, inplace=True)

In [19]:
products['Descrip']

0         BLANK CL FF OL 0,75 NBR 6658
1         BLANK CL FF OL 0,90 NBR 6658
2         BLANK CL FF OL 1,20 NBR 6658
3         BLANK CL FF OL 1,50 NBR 6658
4         BLANK CL FF OL 1,90 NBR 6658
                     ...
2785    TR REL 5,50 NBR5007 G2L40 BbOL
2786    TR REL 5,50 NBR5007 G3L40 BbOL
2787    TR REL 5,60 NBR5007 G2L40 BbOL
2788    TR REL 5,60 NBR5007 G2L40 BbOL
2789     TUBO FQ QUADRADO 1,50 SAE1006
Name: Descrip, Length: 2790, dtype: object

In [7]:
products

                           Descrição Tipo de Produto Comissão Família Produto
0       BLANK CL FF OL 0,75 NBR 6658            BKFF       2%           BLANK
1       BLANK CL FF OL 0,90 NBR 6658            BKFF       2%           BLANK
2       BLANK CL FF OL 1,20 NBR 6658            BKFF       2%           BLANK
3       BLANK CL FF OL 1,50 NBR 6658            BKFF       2%           BLANK
4       BLANK CL FF OL 1,90 NBR 6658            BKFF       2%           BLANK
...                              ...             ...      ...             ...
2785  TR REL 5,50 NBR5007 G2L40 BbOL        TIRA REL       2%      RELAMINADO
2786  TR REL 5,50 NBR5007 G3L40 BbOL        TIRA REL       2%      RELAMINADO
2787  TR REL 5,60 NBR5007 G2L40 BbOL        TIRA REL       2%      RELAMINADO
2788  TR REL 5,60 NBR5007 G2L40 BbOL        TIRA REL       2%      RELAMINADO
2789   TUBO FQ QUADRADO 1,50 SAE1006       TUBO QUAD       2%            TUBO

[2790 rows x 4 columns]

In [20]:
type(products['Descrip'])

pandas.core.series.Series

In [22]:
# We can see there's a space in the beginning of the string.
# This will be a problem for merging sales_data and products.
products['Descrip'][0]

'BLANK CL FF OL 0,75 NBR 6658'

In [24]:
sales_data = pd.read_csv('./data/csv_files/sales_data.csv')

In [25]:
sales_data['Descrip'][0]

'CHAPA GR LTQ DEC 6,30 NBR8300 OL'

In [26]:
# Removing the Leading space in front of the Decription string.
products['Descrip'] =products['Descrip'].str.lstrip()

In [46]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19831 entries, 0 to 19830
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         19831 non-null  object
 1   Inv          19831 non-null  int64
 2   Est          19831 non-null  int64
 3   Order        19831 non-null  object
 4   Client       19831 non-null  object
 5   Descrip      19831 non-null  object
 6   Esp          19831 non-null  object
 7   Larg         19831 non-null  object
 8   Comp         19831 non-null  object
 9   Piece_price  19831 non-null  object
 10  KG_price     19831 non-null  object
 11  Quantity     19831 non-null  object
 12  Total        19831 non-null  object
dtypes: int64(2), object(11)
memory usage: 2.0+ MB

In [67]:
# 120 Descrip rows were not found in products.
# We need to add those missing itens into products.
# First of all we need to know what are the missing values.
unmatched_Descrip = sales_data[~sales_data["Descrip"].isin(products["Descrip"])]

# Display the result
print(unmatched_Descrip["Descrip"])

4907     CHAPA FF >= 0,50 <= SEGUNDA QUALI     10.186,02
8168                             PONTA DE BOBINA FQ 0,00
8370                             PONTA DE BOBINA FQ 0,00
9413                             PONTA DE BOBINA FQ 0,00
10173                            PONTA DE BOBINA FQ 0,00
                              ...
19800             BOB FQ 4,25 CSN ARQ CIVIL 300-Q03 ACAB
19801             BOB FQ 4,75 CSN ARQ CIVIL 300-Q03 ACAB
19803             BOB FQ 2,65 CSN ARQ CIVIL 300-Q03 ACAB
19804                           BOB FQ 4,25 SAE1010 ACAB
19819                TIRA FF BOB 0,35 G2L290 BbOL SMODIH
Name: Descrip, Length: 120, dtype: object

In [71]:
unmatched_Descrip.to_csv('data/csv_files/unmatched_Descrip.csv', index = False)

In [54]:
# Append the missing items to df2['Column2']
products['Description'] = products['Description'].append(missing_items, ignore_index=True)

# Display the updated df2
products

                         Description Type of Product Commission Product Family
0       BLANK CL FF OL 0,75 NBR 6658            BKFF         2%          BLANK
1       BLANK CL FF OL 0,90 NBR 6658            BKFF         2%          BLANK
2       BLANK CL FF OL 1,20 NBR 6658            BKFF         2%          BLANK
3       BLANK CL FF OL 1,50 NBR 6658            BKFF         2%          BLANK
4       BLANK CL FF OL 1,90 NBR 6658            BKFF         2%          BLANK
...                              ...             ...        ...            ...
2785  TR REL 5,50 NBR5007 G2L40 BbOL        TIRA REL         2%     RELAMINADO
2786  TR REL 5,50 NBR5007 G3L40 BbOL        TIRA REL         2%     RELAMINADO
2787  TR REL 5,60 NBR5007 G2L40 BbOL        TIRA REL         2%     RELAMINADO
2788  TR REL 5,60 NBR5007 G2L40 BbOL        TIRA REL         2%     RELAMINADO
2789   TUBO FQ QUADRADO 1,50 SAE1006       TUBO QUAD         2%           TUBO

[2790 rows x 4 columns]

In [59]:
# Merge sales_data and products into a single dataframe.
sales_df = pd.merge(sales_data, products)

In [14]:
products.to_csv('data/csv_files/products.csv',index = False)